<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title></title>
    <!-- Importacion de bootstrap -->
    <!-- para que la pagina sea responsib -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <!-- Bootstrap Java script -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 <!-- IMPORTANDO API GOOGLE  MAPS -->
  </head>
  <body>

    <div class="row">

      <img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t39.30808-6/415008577_880642976772096_4346638393391829563_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=3635dc&_nc_ohc=7A_ud7F02aMAX-EcUzW&_nc_ht=scontent.fuio1-2.fna&oh=00_AfBA6kthWm7tIcX_-jYDXiUO3Bl6chft5TlW2pmHDbBjwQ&oe=65946595"
      class="d-block w-200" alt="">
      <strong><h5 class="text-center">BIENBENIDOS</h5></strong>
      <strong><h1 class="text-center text-danger">Acumula puntos por tus compras y obtén beneficios exclusivos</h1></strong>
      <img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t39.30808-6/415067848_880642943438766_4879220425733469379_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=3635dc&_nc_ohc=AnzjHLjblb8AX8kEPfb&_nc_ht=scontent.fuio1-2.fna&oh=00_AfBMJGq6kih3mB7DGtjgOKsmCNEkAXMlBwlXkZM1Wx8lwg&oe=65942807" alt="">
      <br>
      <img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t39.30808-6/414942940_880642953438765_1802048201421239490_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=3635dc&_nc_ohc=hjbII0GxO-wAX8baJBh&_nc_ht=scontent.fuio1-2.fna&oh=00_AfChjPE6ppKrIVUL3lobP4nqNI8RINc4-XVt0c5oqw9u5A&oe=659455A4" alt="">
      <br>
      <center>
      <iframe width="860" height="460" src="https://www.youtube.com/embed/3-F7donaBTQ" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
      </center>
    </div>
    <div class="row bg-danger">
      <div class="col-md-2">

      </div>
      <div class="col-md-3 bg-warning">
        <strong><h1 class="text-center text-danger">¿Cómo unirte a AkíClub?</h1></strong>
      <p>Únirte a <strong>AkíClub</strong> es muy sencillo. Visita cualquiera de nuestros locales, lleva tu cédula física y preséntala en atención al cliente, firma el contrato y ¡listo!</p><p>Recuerda, para hacer uso de tus beneficios debes presentar tu tarjeta física de <strong>AkíClub.</strong></p><p>Beneficios sujetos a disponibilidad del local, puntos se reflejan en 24h.</p>

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-3 bg-light">
        <h3>Desde que eres parte de AkíClub</h3>
        <hr class="no_line" /><p>Participas en el sorteo diario de cuentas gratis.</p><p>Recibe el doble de puntos en tu cumpleaños y en días especiales; también por tus compras de productos <strong>Akí</strong> y <strong>La Original</strong>.</p><p>Tendrás acceso a nuestro crédito directo <strong>CrediAkí</strong> <em>(previo análisis)</em> desde el momento de la afiliación.</p><p style="caret-color: #000000; color: #000000; font-style: normal; font-variant-caps: normal;">Te sorprenderemos con <strong>cupones personalizados</strong> de descuentos.</p></div>
      <div class="col-md-2">

      </div>
    </div>
    <div class="row bg-danger">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
          <h2 class="text-danger fw-bold">¡Ellos ya son parte del Club!</h2>
        <br>
        <br>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t39.30808-6/415008072_880881656748228_6116104777080432966_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=3635dc&_nc_ohc=CPj6jivBmEcAX_ur01t&_nc_ht=scontent.fuio1-2.fna&oh=00_AfC-OxWA4aac6RUoiVrHRfvsXeQFXN0zEQILuL1eigKafw&oe=65950B59" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t39.30808-6/414988870_880881653414895_5139937388394687999_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=3635dc&_nc_ohc=JBbOOpy3GyIAX8W-Prw&_nc_oc=AQlz9VWxdkazZkcIx3P66YHke1AdN9LVGFUtRTO_70clrYA_6AfIh1IA7GcFfcwk0So&_nc_ht=scontent.fuio1-2.fna&oh=00_AfB_cR00wsj6OyCMIF7sf4NPbEPmUwiNgD3vu6PWJxpk5g&oe=6594A498" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t39.30808-6/415042894_880881660081561_4055333650598915571_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=3635dc&_nc_ohc=NTpVwApzlrsAX-Pc5iW&_nc_ht=scontent.fuio1-2.fna&oh=00_AfBDtHaoghaPRc2_v-WAPW7DHGdFuXWqy-MHLmAZWJPEHw&oe=6595EDB7" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t39.30808-6/414886114_880881733414887_5561393221643951258_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=3635dc&_nc_ohc=3j7T39CztkYAX8zO5pO&_nc_ht=scontent.fuio1-2.fna&oh=00_AfBWjYI6pVZbfjt_E6wnF0gGHz7eHy0_w-gTxw1w2m6zIw&oe=65957F66" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t39.30808-6/415482585_880881743414886_8408681509556696659_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=3635dc&_nc_ohc=ckwCJV5HNRUAX_7_LdJ&_nc_ht=scontent.fuio1-2.fna&oh=00_AfDKYXA2caQCuL6KIvoJ-nq4rD8K4EtnAG32JK6262Dwgg&oe=65953B59" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t39.30808-6/414993739_880881756748218_3482855937801507441_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=3635dc&_nc_ohc=swruO_v22SoAX8uxk0D&_nc_ht=scontent.fuio1-2.fna&oh=00_AfB1kCKVTQOHF9KsKtjxmSYAWSzbBCvRc-os7EmxljCCtg&oe=659579AE" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
  <div class="col-md-2">

  </div>
</div>

    </div>
    <div class="container">
  <div class="row">
    <div class="col">
      <div class="spacer"></div>
      <div id="miembros"></div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img loading="lazy" decoding="async" width="500" height="97" src="https://www.aki.com.ec/akiclub/wp-content/uploads/2022/08/Footer-Aki.png" class="img-fluid rounded" alt="" />
      <div class="social-icons">
        <a href="https://twitter.com/AkiEcuador" target="_blank" class="me-2"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/AKIEcua/" target="_blank" class="me-2"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/aki_ecuador/" target="_blank" class="me-2"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCnPo-5yYtz7lCiTytzEQsNQ" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="col-md-6">
      <p><strong>Información de interés</strong></p>
      <p><a href="https://www.aki.com.ec/terminos-y-condiciones/" target="_blank" rel="noopener">Términos y Condiciones</a></p>
      <p><a href="https://www.aki.com.ec/politicas-de-privacidad/" target="_blank" rel="noopener">Políticas de Privacidad</a></p>
      <p><a href="https://www.aki.com.ec/convenio-de-afiliacion-y-beneficios/" target="_blank" rel="noopener">Convenio de Afiliación y Beneficios</a></p>
    </div>
  </div>
</div>

  </body>
</html>
